<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 通过 Spring 属性配置日志路径 ${user.home} -->
    <property name="LOG_PATH" value="./logs"/>
    <property name="LOG_FILE" value="studio"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 配置根日志级别 -->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
    </root>

    <!-- 配置具体包的日志级别 -->
    <logger name="com.example.demo" level="debug"/>

</configuration>
